In [2]:
import random
from datetime import date, timedelta

In [3]:
random.seed(42)

# ---------- CONFIG ----------
NUM_BRANCHES = 20
NUM_CUSTOMERS = 50
NUM_ACCOUNTS = 50
NUM_LOANS = 40
NUM_REPAYMENTS = 20

In [4]:
cities = [
    "Mumbai", "Delhi", "Bangalore", "Chennai", "Hyderabad",
    "Pune", "Kolkata", "Ahmedabad", "Jaipur", "Chandigarh"
]

loan_types = ["HOME", "PERSONAL", "AUTO"]
account_types = ["SAVINGS", "CURRENT", "FD"]
kyc_statuses = ["VERIFIED", "PENDING"]
loan_statuses = ["ACTIVE", "CLOSED", "NPA"]

start_date = date(2020, 1, 1)

def rand_date(start, end_days=1500):
    return start + timedelta(days=random.randint(0, end_days))

In [5]:
# ---------- BRANCHES ----------
print("-- Branches")
for i in range(1, NUM_BRANCHES + 1):
    print(
        f"INSERT INTO branches (branch_name, city) VALUES "
        f"('Branch_{i}', '{random.choice(cities)}');"
    )

-- Branches
INSERT INTO branches (branch_name, city) VALUES ('Branch_1', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_2', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_3', 'Hyderabad');
INSERT INTO branches (branch_name, city) VALUES ('Branch_4', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_5', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_6', 'Bangalore');
INSERT INTO branches (branch_name, city) VALUES ('Branch_7', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_8', 'Jaipur');
INSERT INTO branches (branch_name, city) VALUES ('Branch_9', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_10', 'Chandigarh');
INSERT INTO branches (branch_name, city) VALUES ('Branch_11', 'Kolkata');
INSERT INTO branches (branch_name, city) VALUES ('Branch_12', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_13', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_14', 'Delhi');
INSERT INTO branches (branch_name, city) VALUES ('Branch_15', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_16', 'Chennai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_17', 'Jaipur');
INSERT INTO branches (branch_name, city) VALUES ('Branch_18', 'Chandigarh');
INSERT INTO branches (branch_name, city) VALUES ('Branch_19', 'Mumbai');
INSERT INTO branches (branch_name, city) VALUES ('Branch_20', 'Jaipur');

In [6]:
# ---------- CUSTOMERS ----------
print("\n-- Customers")
for i in range(1, NUM_CUSTOMERS + 1):
    print(
        f"INSERT INTO customers (full_name, kyc_status, created_at) VALUES "
        f"('Customer_{i}', '{random.choice(kyc_statuses)}', '{rand_date(start_date)}');"
    )

-- Customers
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_1', 'VERIFIED', '2024-01-06');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_2', 'PENDING', '2021-03-27');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_3', 'PENDING', '2023-04-21');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_4', 'PENDING', '2020-01-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_5', 'VERIFIED', '2023-11-30');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_6', 'PENDING', '2021-11-27');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_7', 'PENDING', '2020-11-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_8', 'VERIFIED', '2021-11-20');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_9', 'VERIFIED', '2020-07-08');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_10', 'PENDING', '2020-07-17');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_11', 'PENDING', '2021-12-05');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_12', 'PENDING', '2020-03-29');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_13', 'PENDING', '2023-01-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_14', 'VERIFIED', '2022-02-14');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_15', 'VERIFIED', '2023-02-04');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_16', 'PENDING', '2023-07-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_17', 'PENDING', '2023-03-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_18', 'VERIFIED', '2023-12-13');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_19', 'VERIFIED', '2020-04-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_20', 'VERIFIED', '2021-08-15');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_21', 'VERIFIED', '2021-04-21');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_22', 'VERIFIED', '2022-02-17');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_23', 'PENDING', '2022-07-17');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_24', 'PENDING', '2020-11-29');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_25', 'PENDING', '2021-12-28');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_26', 'VERIFIED', '2023-10-04');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_27', 'PENDING', '2023-12-08');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_28', 'VERIFIED', '2023-06-01');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_29', 'VERIFIED', '2022-12-29');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_30', 'VERIFIED', '2020-11-30');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_31', 'PENDING', '2022-02-16');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_32', 'PENDING', '2023-08-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_33', 'VERIFIED', '2023-11-03');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_34', 'PENDING', '2020-04-24');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_35', 'VERIFIED', '2020-03-06');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_36', 'PENDING', '2022-04-01');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_37', 'PENDING', '2020-05-15');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_38', 'VERIFIED', '2023-03-07');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_39', 'PENDING', '2021-03-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_40', 'PENDING', '2022-03-21');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_41', 'PENDING', '2020-10-19');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_42', 'PENDING', '2020-10-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_43', 'VERIFIED', '2023-02-23');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_44', 'PENDING', '2023-04-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_45', 'PENDING', '2023-04-10');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_46', 'PENDING', '2022-01-11');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_47', 'VERIFIED', '2020-10-10');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_48', 'PENDING', '2020-07-05');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_49', 'VERIFIED', '2020-08-12');
INSERT INTO customers (full_name, kyc_status, created_at) VALUES ('Customer_50', 'VERIFIED', '2023-07-09');

In [7]:
# ---------- DEPOSIT ACCOUNTS ----------
print("\n-- Deposit Accounts")
for i in range(1, NUM_ACCOUNTS + 1):
    print(
        f"INSERT INTO deposit_accounts "
        f"(customer_id, branch_id, account_type, balance, opened_at) VALUES "
        f"({i}, {random.randint(1, NUM_BRANCHES)}, "
        f"'{random.choice(account_types)}', "
        f"{round(random.uniform(1000, 500000), 2)}, "
        f"'{rand_date(start_date)}');"
    )

-- Deposit Accounts
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (1, 6, 'FD', 211657.82, '2020-05-10');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (2, 13, 'CURRENT', 298348.33, '2022-08-16');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (3, 17, 'CURRENT', 485568.11, '2020-01-24');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (4, 4, 'FD', 442509.44, '2021-06-30');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (5, 11, 'SAVINGS', 147456.56, '2020-11-19');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (6, 15, 'SAVINGS', 476954.15, '2024-01-13');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (7, 9, 'FD', 381219.14, '2022-11-05');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (8, 4, 'FD', 149923.95, '2023-08-01');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (9, 17, 'FD', 100256.64, '2022-02-04');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (10, 6, 'FD', 476796.37, '2022-12-22');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (11, 1, 'FD', 162753.87, '2020-02-09');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (12, 4, 'CURRENT', 439482.22, '2021-09-21');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (13, 8, 'SAVINGS', 121194.92, '2023-03-07');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (14, 3, 'SAVINGS', 366221.89, '2020-05-21');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (15, 18, 'SAVINGS', 65067.34, '2022-08-31');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (16, 18, 'SAVINGS', 133263.26, '2023-05-27');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (17, 14, 'SAVINGS', 464527.83, '2024-02-03');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (18, 7, 'FD', 156546.43, '2023-10-07');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (19, 12, 'CURRENT', 449907.43, '2022-07-13');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (20, 4, 'SAVINGS', 113123.97, '2021-11-23');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (21, 1, 'FD', 277406.84, '2023-04-20');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (22, 8, 'SAVINGS', 36425.55, '2023-07-16');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (23, 2, 'SAVINGS', 34632.76, '2020-03-05');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (24, 11, 'SAVINGS', 257563.9, '2021-07-24');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (25, 16, 'SAVINGS', 270077.73, '2024-01-21');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (26, 19, 'FD', 236862.84, '2022-08-26');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (27, 14, 'SAVINGS', 48068.57, '2023-09-11');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (28, 14, 'CURRENT', 212365.73, '2022-08-14');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (29, 2, 'FD', 327074.29, '2023-08-16');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (30, 4, 'SAVINGS', 201908.02, '2021-11-25');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (31, 4, 'SAVINGS', 96603.45, '2023-01-03');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (32, 15, 'SAVINGS', 211518.94, '2021-07-24');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (33, 15, 'SAVINGS', 437368.49, '2020-06-03');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (34, 15, 'FD', 49856.46, '2023-08-28');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (35, 18, 'SAVINGS', 484529.13, '2021-04-29');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (36, 6, 'CURRENT', 243334.92, '2021-03-13');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (37, 13, 'SAVINGS', 83153.92, '2020-01-05');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (38, 13, 'CURRENT', 463332.52, '2022-07-20');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (39, 10, 'CURRENT', 348599.16, '2024-02-05');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (40, 18, 'FD', 359485.73, '2020-11-13');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (41, 7, 'CURRENT', 109632.75, '2020-04-29');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (42, 19, 'FD', 271555.41, '2021-10-04');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (43, 2, 'SAVINGS', 292504.62, '2022-10-26');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (44, 17, 'SAVINGS', 29382.91, '2022-11-06');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (45, 3, 'SAVINGS', 35192.15, '2020-05-19');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (46, 8, 'CURRENT', 60823.42, '2023-03-12');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (47, 8, 'FD', 297665.06, '2023-06-22');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (48, 3, 'CURRENT', 329029.21, '2023-03-03');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (49, 17, 'CURRENT', 467418.42, '2021-02-22');
INSERT INTO deposit_accounts (customer_id, branch_id, account_type, balance, opened_at) VALUES (50, 11, 'SAVINGS', 133541.64, '2020-09-25');

In [8]:
# ---------- LOANS ----------
print("\n-- Loans")
for i in range(1, NUM_LOANS + 1):
    principal = random.randint(50_000, 2_000_000)
    print(
        f"INSERT INTO loans "
        f"(customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES "
        f"({random.randint(1, NUM_CUSTOMERS)}, "
        f"{random.randint(1, NUM_BRANCHES)}, "
        f"'{random.choice(loan_types)}', "
        f"{principal}, "
        f"{round(random.uniform(8.0, 18.0), 2)}, "
        f"{random.choice([12, 24, 36, 60, 120])}, "
        f"'{rand_date(start_date)}', "
        f"'{random.choice(loan_statuses)}');"
    )

-- Loans
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (42, 10, 'PERSONAL', 1458636, 11.16, 12, '2020-01-20', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (37, 4, 'HOME', 1352665, 13.38, 120, '2021-06-27', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (5, 8, 'PERSONAL', 781924, 10.85, 60, '2023-01-17', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (40, 17, 'HOME', 684424, 14.68, 120, '2021-09-05', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (9, 9, 'HOME', 267236, 16.9, 120, '2020-11-14', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (39, 7, 'AUTO', 640885, 11.43, 36, '2022-11-01', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (4, 3, 'AUTO', 576639, 12.24, 36, '2020-03-31', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (50, 5, 'AUTO', 749518, 17.8, 24, '2022-06-23', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (28, 18, 'HOME', 1529891, 9.12, 24, '2023-01-22', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (24, 19, 'AUTO', 1800272, 9.48, 24, '2020-03-26', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (3, 12, 'HOME', 814729, 14.82, 12, '2021-12-25', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (27, 20, 'AUTO', 1904164, 9.55, 24, '2020-11-28', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (27, 1, 'HOME', 1898463, 15.37, 36, '2022-04-23', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (48, 8, 'PERSONAL', 1862073, 9.59, 12, '2022-02-22', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (31, 8, 'HOME', 1850600, 16.17, 60, '2021-12-17', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (15, 8, 'HOME', 1770789, 14.6, 60, '2021-11-03', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (5, 9, 'PERSONAL', 1862679, 14.41, 60, '2023-10-23', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (2, 4, 'PERSONAL', 744471, 9.79, 36, '2020-03-19', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (28, 12, 'AUTO', 1301100, 15.86, 60, '2023-05-26', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (25, 19, 'HOME', 292526, 10.55, 60, '2020-01-04', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (35, 7, 'PERSONAL', 1991071, 12.31, 36, '2023-06-30', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (8, 10, 'AUTO', 1441224, 11.09, 60, '2021-10-30', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (19, 18, 'HOME', 1512152, 9.92, 60, '2023-10-19', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (12, 20, 'AUTO', 1943320, 11.01, 120, '2020-01-01', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (14, 14, 'AUTO', 651701, 14.07, 36, '2022-08-10', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (44, 7, 'AUTO', 977276, 12.73, 24, '2023-09-11', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (33, 20, 'PERSONAL', 645143, 8.93, 24, '2023-10-09', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (13, 5, 'HOME', 521105, 8.46, 60, '2023-06-05', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (27, 19, 'HOME', 1005076, 15.18, 60, '2022-10-09', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (10, 1, 'HOME', 561672, 15.78, 24, '2020-12-26', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (30, 2, 'AUTO', 1136236, 10.49, 12, '2022-07-23', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (30, 17, 'AUTO', 1730692, 13.95, 60, '2023-06-08', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (33, 14, 'AUTO', 1920702, 12.46, 24, '2022-08-30', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (49, 8, 'AUTO', 593564, 10.77, 120, '2022-09-19', 'NPA');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (18, 15, 'HOME', 551734, 15.14, 24, '2021-07-10', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (35, 3, 'HOME', 720479, 9.51, 60, '2023-11-22', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (14, 3, 'PERSONAL', 1531468, 12.08, 120, '2022-08-12', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (14, 14, 'PERSONAL', 180580, 17.05, 120, '2023-11-25', 'ACTIVE');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (49, 19, 'PERSONAL', 1846697, 12.77, 36, '2021-09-03', 'CLOSED');
INSERT INTO loans (customer_id, branch_id, loan_type, principal, interest_rate, tenure_months, disbursed_at, status) VALUES (27, 18, 'AUTO', 1839810, 15.35, 120, '2021-03-27', 'CLOSED');

In [9]:
# ---------- REPAYMENTS ----------
print("\n-- Repayments")
for i in range(1, NUM_REPAYMENTS + 1):
    due = rand_date(start_date)
    paid = due + timedelta(days=random.choice([0, 5, 15, 30]))
    print(
        f"INSERT INTO repayments "
        f"(loan_id, due_date, paid_date, amount_due, amount_paid) VALUES "
        f"({random.randint(1, NUM_LOANS)}, "
        f"'{due}', "
        f"'{paid}', "
        f"{round(random.uniform(3000, 50000), 2)}, "
        f"{round(random.uniform(2000, 50000), 2)});"
    )

-- Repayments
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (28, '2021-03-25', '2021-04-09', 25825.17, 20665.15);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (11, '2023-10-01', '2023-10-31', 42503.77, 46138.0);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (26, '2023-06-28', '2023-06-28', 30818.96, 33823.99);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (9, '2020-06-20', '2020-07-20', 43742.01, 10722.99);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (21, '2021-06-16', '2021-07-16', 12948.03, 17688.6);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (27, '2022-02-15', '2022-03-02', 14856.76, 5931.5);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (23, '2020-02-09', '2020-02-09', 13538.44, 5293.68);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (2, '2023-08-27', '2023-08-27', 47631.75, 11569.31);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (16, '2020-02-11', '2020-02-16', 8932.39, 34134.02);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (30, '2023-03-01', '2023-03-06', 35874.85, 38811.11);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (11, '2020-12-09', '2020-12-09', 48341.88, 7188.74);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (37, '2020-02-22', '2020-03-08', 34835.32, 47992.3);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (5, '2022-03-23', '2022-03-28', 30828.6, 41867.44);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (20, '2021-05-12', '2021-05-12', 42963.78, 30819.76);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (23, '2020-09-04', '2020-09-04', 28039.03, 33753.02);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (1, '2020-05-21', '2020-06-05', 42930.05, 41471.88);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (24, '2020-08-04', '2020-09-03', 32872.5, 41777.95);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (28, '2023-12-19', '2023-12-24', 11278.44, 27043.84);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (40, '2023-08-25', '2023-09-09', 40985.36, 27832.3);
INSERT INTO repayments (loan_id, due_date, paid_date, amount_due, amount_paid) VALUES (28, '2022-09-17', '2022-10-17', 41809.53, 30438.78);